.base {

  position: fixed;
  top: 0;
  z-index: 10;

  font-size: 18px;
  height: 3.5em;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex: 1;

  align-items: center;

  transition: all .2s ease-out;
}

.base.scrolled {
  background-color: var(--secondary);
}


.base ul {
  display: inline-flex;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.base span {
  width: 8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.base p::selection {
  background-color: var(--primary);
  color: var(--bg);
}

.base li {
  transition: all .2s ease-out;
}

.base li:hover,
.base li.active,
.compact_background li:hover,
.compact_background li.active {
  cursor:default;
  font-weight: bolder;
}

.base.scrolled li:hover,
.base.scrolled li.active {
  background-color: var(--bg-mask);
}

.base_compact {
  position: absolute;
  top: 0;
}

.base_compact button {
  background-color: transparent;
  border: none;
  z-index: 10; 
  position: relative;
}

.base_compact button svg {
  position: fixed;
  right: 3vw;
  top: 3vh;
  font-size: 3em;
  fill: var(--text);
  transition: all .2s ease-out;
}

.base_compact button svg:hover {
  fill: var(--secondary);
}

.compact_background {
  width: 100vw;
  height: 100vh;
  background: var(--bg-mask);
  position: fixed;
  z-index: 20;
}

.compact_background ul {
  font-size: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  align-content: center;
  align-self: center;


  list-style: none;
  margin: 0;
  padding: 0;
  
  width: 100vw;
}