.stage {
  width: 80%;
  --border-size: 20px;
  --size-pacman: 40px;
  --ball-size: 75px;
  border-right: var(--border-size) dotted var(--light-bg-color);

  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  align-self: center;
  z-index: 0;

  transition: all var(--transition-timing);
  margin-left: -4rem;
}
.stage h1 {
  text-align: center;
}
.stage p {
  left: 0;
  width: 80%;
  text-align: justify;
}
.stage::after,
.stage::before {
  align-self: flex-end;
  position: inherit;
  content: "";

  width: var(--ball-size);
  height: var(--ball-size);

  border-radius: var(--ball-size);
  background-color: var(--medium-bg-color);

  transition: all var(--transition-timing);
}
.stage::before {
  transform: translate(calc(50% + (var(--border-size) / 2)), -135%);
}
.stage::after {
  transform: translate(calc(50% + (var(--border-size) / 2)), 135%);
}
.pacman {
  content: "";
  position: inherit;
  align-self: flex-end;
  transform: translate(calc(50% + (var(--border-size) / 2)), 0);

  width: 0px;
  height: 0px;
  border-right: var(--size-pacman) solid var(--pacman-color);
  border-top: var(--size-pacman) solid var(--pacman-color);
  border-left: var(--size-pacman) solid var(--pacman-color);
  border-bottom: var(--size-pacman) solid transparent;

  border-radius: var(--size-pacman);

  transition: all var(--transition-timing);
}

.arrowFollow::after {
  align-self: flex-end;
  position: inherit;
  content: "";

  width: 100px;
  height: 100px;

  border-radius: 50px;
  background-color: var(--medium-bg-color);
  transform: translate(calc(-50% + (var(--border-size) / 2)), +115%);
}

@media screen and (max-width: 1000px) {
  .stage {
    --border-size: 15px;
    --size-pacman: 30px;
  }
}

@media screen and (max-width: 800px) {
  .stage {
    --border-size: 10px;
    --size-pacman: 20px;
    padding: 3rem 0;
    margin-left: -2rem;
  }
}
